<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adm.Estudiantes</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Tus estilos -->
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos/style.css') }}">

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  
</head>

<body>

    <header>
        <div id="logo">
            <img src="{{ url_for('static', filename='imagenes/logotipo.png') }}" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('registro_estudiantes') }}">Registro estudiantes</a></li>
                <li><a href="{{ url_for('adm_estudiantes') }}">Admi. estudiantes</a></li>
            </ul>
        </nav>
    </header>

    <div id="barra_de_busqueda">
        <input type="text" placeholder="Escriba el nombre o correo del estudiante a consultar">
        <div class="icono_1">
            <img src="{{ url_for('static', filename='imagenes/lupa_estu.png') }}" alt="Buscar">
        </div>
        <div class="icono_2">
            <img src="{{ url_for('static', filename='imagenes/filtro_busqueda.png')}}" alt="Filtro de busqueda">
        </div>
    </div>

    <div id="contenedor_estudiantes">
        <!-- Tarjeta de estudiante -->
        {% for estudiante in estudiantes %}
        <div id="tarjeta_estudiante">
            <div id="foto_admi_estudiante" style="background-image: url('imagenes/estudiante.jpg');"></div> <!--Corregido, eran las comillas de la url-->

            <div id="información_main_estudiante">
               <div class="info_estudiante">
                <h3>{{ estudiante[1] }} {{ estudiante[2] }} {{ estudiante[3] }} {{ estudiante[4] }}</h3>
                <p>{{ estudiante[5] }}</p>
                <p>{{ estudiante[6] }}</p>
               </div>
            </div>

            <div id="botones_principales">
                <div class="action-icons">
                    <!-- Enlace a detalles del estudiante -->
                    <a href="{{ url_for('detalles_estudiantes', id_estudiante=estudiante[0]) }}">
                        <img src="{{ url_for('static', filename='imagenes/detalles_estu.png') }}" alt="Detalles del estudiante">
                    </a>
                    <!-- Enlace para editar estudiante -->
                    <a href="{{ url_for('editar_estudiante', id_estudiante=estudiante[0]) }}">
                        <img src="{{ url_for('static', filename='imagenes/editar.png') }}" alt="Editar">
                    </a>
                    <!-- Enlace para eliminar estudiante -->
                    <a href="{{ url_for('eliminar_estudiante', id_estudiante=estudiante[0]) }}">
                        <img src="{{ url_for('static', filename='imagenes/eliminar_estu.png') }}" alt="Deshabilitar">
                    </a>
                </div>
            </div>         
        </div>
        {% endfor %}

    </div>

</body>
</html>