<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adm.Estudiantes</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

  <!-- Tus estilos -->
  <link rel="stylesheet" href="estilos/style.css">

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  
</head>

<body>
    <header>
        <div id="logo">
            <img src="imagenes/logotipo.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/estudiantes_inc/index.html">Inicio</a></li>
                <li><a href="/estudiantes_inc/registro_estudiantes.html">Registro estudiantes</a></li>
                <li><a href="/estudiantes_inc/adm_estudiantes.html">Admi. estudiantes</a></li>
            </ul>
        </nav>
    </header>

    <div id="bienvenida">
        <h1>Bienvenido</h1>
        <h2>¿ Que deseas hacer hoy?</h2>
    </div>

    <div id="inicio">
        <div id="bloque1">
            <div class="tarjeta">
                <div id="img">
                    <img src="imagenes/regi_estu.png" alt="registro estudiantes"> 
                </div>
            </div>
            <a href="/estudiantes_inc/registro_estudiantes.html" class="enlace-inicio">
                <button class="boton-enlace">
                    <h2>registrar un nuevo estudiante</h2>
                </button>
            </a>
        </div>


        <div id="bloque2">
            <div class="tarjeta">
                <div id="img2">
                    <img src="imagenes/lupa_estu.png" alt=" admi.estudiantes">
                </div>
            </div>
            <a href="/estudiantes_inc/adm_estudiantes.html" class="enlace-inicio">
                <button class="boton-enlace">    
                    <h2>Administración de Estudiantes</h2>
                </button>
            </a>
        </div>    
    </div>


    <footer >
        <div id="logo2">
            <img src="imagenes/logotipo.png" alt="logo">
        </div>
        <nav>
            <ul>
                <li><a href="">contactanos</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>